.entrance-wrapper{
    position: relative;
    top: 0;
    height: 100vh;
}
.entrance-background{
    background-image: url("./images/background.jpg");
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption{ 
    position: absolute;
    right: 25px;
    top: 4%;
    width: 100%;
    text-align: right;
}
.caption>button{
    cursor: pointer;
}




